.slider-vertical {
    padding: 0;
}

.contenedor-slider {
    height: 50px;
    overflow: hidden;
    position: relative;
    margin-top: 14px;
    margin-bottom: 20px;
    background: #325972;
    color:#fff;
    border-left: 1px solid #bbb;
    width:auto;
}
.bloque-slider {
    position: relative;
    top: 0;
    width: auto;
    display: inline-flex;

}
.modulo-slider {
    height: 50px;
    /* los paddings los coloque independientes para que se puedan obtener por javascript */
    padding: 13px 10px 5px 10px;
    position: relative;
    margin: 0;
    //display:inline-flex;
    width:200px;
}
.modulo-slider h4 {
    margin-top: 0;
}
.mover-slider-vertical {
    position: absolute;
    width: 40px;
    right: 0;
    top: 0;
    margin: 0;
    background: #fff url(../images/slider-vertical-bg.jpg) no-repeat 0 4px;
}
.mover-slider-vertical a {
    //display: block;
    width: 21px;
    height: 21px;
    margin: 10px 0 40px 10px;
    //text-indent: -9999em;
    outline: none;
    background-image: url(../images/boton.gif);
    background-repeat: no-repeat;
    cursor: pointer;
    line-height: 0;
    font-size: 0;
}
.mover-slider-vertical a:hover {
    /*background-color: #F1F0DE;*/
}
.subir-slider {
    background-position: 0 0;
}
.subir-slider:hover {
    background-position: 0 -21px;
}
.subir-slider:active {
    background-position: 0 0;
}
.bajar-slider {
    background-position: -21px 0;
}

.bajar-slider:hover {
    background-position: -21px -21px;
}

.bajar-slider:active {
    background-position: -21px 0;
} 
/* @end slide-vertical */