body{
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.modal-backdrop{
    opacity: 0.9 !important;
}

.modal-content{
    border-radius: 16px;
}
.modal-dialog-center {
    margin-top: 115px;
}
#logo-productivo{
    background-color: #0C8AC5;
}
#logo-ciudadano, #logo-productivo{
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#home{
    overflow: auto;
}
/*@media(min-width:767px){
  #col-video{
    margin-top: 132px;
  }
}*/

#row-arrows{
	border-bottom: 3px solid #325972;
	margin-right: 1%;
	margin-left: 1%;
	padding: 0px;
    height: 7px;
}
#row-triangulos{
    padding: 0px;
}
#que_es_tramiton{
	//padding: 37px 0px;
	padding: 0px;
	height: 100%;
	//background-color: pink;
	position:relative;
}

.borde-izq-blanco{
  border-left: 1px solid rgba(255,255,255,0.6);
}

.borde-der-blanco{
  border-right: 1px solid rgba(255,255,255,0.6);
}

.borde-inf-gris{
  border-bottom: 1px solid #CCC;
}



















#text_tramiton{
	//position: absolute;
}
#titulo_tramiton{
    //font-size: 50px;
    font-weight: bold;
    //margin-top:5%;
    //padding: 9%;
    color:red;
}
#definicion_tramiton{
    padding: 0px 2%;
	color:red;
}
/*#noticias{
    margin-bottom: 5px;
}*/

/*video{
    position: fixed;
    top: 50%;
    left: 50%;

    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}*/

video{
    //position:relative;
    //width:100%;
    //height:80%;
    //top:50%;
    //left:50%;
    //transform:translateX(-50%) translateY(-50%);
    //z-index:-1;
    //-webkit-filter:sepia(100%);
}
.twitter{
    background-color:#325972 !important;
}

.titulo-twitter{
    text-align: left !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
.m-t-10{
    margin-top: 10px;
}
.titulos{
    color:#325972 !important;
    text-align: left !important;
    border-bottom: 3px solid #325972;
}
#maincontainer {
    width:100%;
    height: 100%;
    margin-bottom: 10px;
}

#leftcolumn{
    color:#4a819d !important;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    float:left;
    display:inline-block;
    width: 250px;
    height: 100%;
}
#contentwrapper{
    float:left;
    display:inline-block;
    width: -moz-calc(100% - 250px);
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
    height: 100%;

    border-bottom: 2px solid #325972;
    padding-top: 30px !important;
    margin-bottom: 20px;
}
#col-ciudadano, #col-organizacion, #col-servidor-publico, #col-otro{
	padding-top: 1%;

}

.boton-ciu, .boton-org, .boton-ser, .boton-otr{
    font-weight: bold;
    color: #fff;

    border-radius: 8px;

    height: 30px;

    width: 130px;
    margin: auto;
    padding: 1%;
}

#row-line-ciudadano{
	padding: 0px;
	border-bottom: 3px solid #325972;
	margin-right: 5%; margin-left: 5%;
}
.boton-ciu{
    background-color: #325972 !important;
    border: 1px solid #325972 !important;
}
.boton-ciu:hover{
	background-color:#f5f5f5 !important;
    color:#325972
}

#row-line-organizacion{
	border-bottom: 5px solid #ee9d46;
	padding-left: 5%; padding-right: 5%;
}
.boton-org{
    background-color: #ee9d46 !important;
    border: 1px solid #ee9d46 !important;
}
.boton-org:hover{
    background-color: #f5f5f5 !important;
    color:#ee9d46
}

#row-line-servidor{
	border-bottom: 5px solid #349876;
	padding-left: 5%; padding-right: 5%;
}
.boton-ser{
    background-color: #349876 !important;
    border: 1px solid #349876 !important;
}
.boton-ser:hover{
    background-color: #f5f5f5 !important;
    color:#349876
}

.titulo-estadistica{
	margin: 3% 10%;
    font-family: 'Roboto Condensed', sans-serif;
    color: #00a7fe;
    /*font-weight: bold;*/
}
.titulo-estadistica div hr{
    border-width:3px;
    border-color:#325972;
}
.titulo-estadistica div h2{
    color:#325972 !important;
    font-weight: bold;
}

.line-tramiton{
	padding-top: 3px !important;
}

#row-lines{
	padding: 0px !important;
}

.pregunta{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #4a819d;
}

.respuesta, .respuesta p{
    color: #4a819d;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.ayuda{
    color: #325972;
    font-size: 150%;
}

.black{
    color: black;
}

.linea{
    border-bottom: 1px solid #325972;
    margin: 20px 0px 30px 0px;
}

.img-respuesta{
    float: right;
}


.col-pregunta-img{
    height: 100%;
}


.carousel-control.left, .carousel-control.right{
    background-image: none !important;
}
.glyphicon-chevron-right, .glyphicon-chevron-left{
    position: relative !important;
    top: -53px !important;
    font-size: 25px !important;
}
.glyphicon-chevron-left{
    left: 0px !important;
    margin-right: 20px;
    margin-left: -10px;
}

.glyphicon-chevron-right{
    right: 0px !important;
}


#noticias-2 iframe{
  height: 461px !important;
  /*height: 100% !important;
  width: 100% !important;*/
}


.raleway{
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}



#que_es_tramiton iframe{
  background-image: url('../img/que_es_tramiton_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-position: center;
}
#que_es_tramiton {
  height: 900px;
}


@media(min-width: 768px){


  .separator{
    width: 100%;
  }
  #header-tramiton, #nav-admin-home{
    max-width: 92%;
  }
  #home, #estadisticas, #preguntas, footer .container-fluid, #header-tramiton{
    max-width: 92%;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
  }
  footer .container-fluid{
    border-top: 1px solid #CCC;
  }
  #preguntas{
    border-bottom: 1px solid rgba(255,255,255,0.6);
  }
}



@media(max-width:767px){
  #header-tramiton{
    border: none;
  }
}

.highcharts-container *{
  font-size: 14px !important;
}

.f-18{
  font-size: 18px;
}
