.no-margin-right{
    margin-right: 0px;
}
.nav-tramiton {
    /*margin-left: 10px !important;*/
}
.borde-derecha{
    border-right: 2px solid #707478;
}
.menu-dashboard{
    border-bottom: 4px solid #325972;
}
.menu-central-dashboard{
    margin-top: 27px;
    margin-bottom: 0px;
    padding: 0px 7px !important;
}
#input-buscar-experiencia{
    margin-top: 11px;
    margin-right: 13px;
}
.menu-central{
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    /*padding: 0px 7px !important;*/
}
.cont-menu-central a{
    /*color:#707478;*/
    /*font-weight: bold;*/
    /*margin-right: 3px;*/
}
#form-group-busqueda, #li-navbar-user{
    margin: 3px;
}
