
#df .inner{
  background: rgba(0, 0, 0, 0.4);
}
#fila-logos{
    height: 156px;
    padding: 0px;
}
@media(min-width: 767){
  #fila-logos{
    border-bottom: 1px solid #fff !important;
  }
}


.borde-izquierda{
    border-left: 1px solid #fff;
}
.col-tramiton, .col-redes-sociales{
    height: 100%;
}


/*logo tramiton*/
.col-tramiton{
    float: left;
    /*54px desde app web*/
    margin-left: 54px;

    padding: 50px 10px 0px 54px !important;
}
#logo-home{
    width: 152px;
}


/*redes sociales*/
.col-redes-sociales{
    float: right;
    /*color: #fff;*/
    color: #A94442 !important;
    padding-top: 30px;
    text-align: center;
}
.col-redes-sociales a{
    color: white;
    /*color: #A94442;*/
}
.col-redes-sociales i{
    padding-bottom: 5px;
}
.col-redes-sociales i:hover{
    color: #325972;
}


/*boton*/
.icon-white{
    background-color: white !important;
}



/*menu*/
#nav-admin-home{
    height: 46px;
    margin: 0px 52px 0px 54px;
    /*overflow: auto;*/
    /*border-left: 1px solid #fff;
    border-right: 1px solid #fff;*/
}

@media(max-width: 767px){
    .azul{
        background-color: #325972;
    }
    .collapse a{
        /*text-align: right;*/
    }
    #navbar-toggle-home:hover, #navbar-toggle-home:focus{
        background-color: #325972 !important;
    }
    #navbar-toggle-home{
        float: left;
    }
    .col-tramiton, .col-redes-sociales, #nav-admin-home{
        border: none;
    }
    .col-tramiton{
        width: 100%;
        margin: auto;
        padding: 0px !important;
    }
    .col-tramiton img{
        margin-top: 50px;
    }
    .row-redes-sociales{
        margin-left: 58px;
        text-align: right;
    }
    .row-redes-sociales i{
        padding: 10px 0px 0px 5px;
        color: white;
    }
    .row-redes-sociales i:hover{
        color: cyan;
    }
    #navbar-header-home{
        border-bottom: none;
    }
}

@media(max-width: 1083px) and (min-width: 768px){
    #fila-logos{
        height: 129px !important;
    }
    #nav-admin-home{
        height: 73px !important;
    }
}
/*@media(max-width: 965px){
    .nav-tramiton li a{
        text-transform: lowercase;
    }
}*/



#nav-admin-home .menu-central:hover, #nav-admin-home .menu-central:active{
    color: #337AB7 !important;
}

#fila-menu{
    height: 50px;
    padding: 0px;
}
#fila-menu .col-xs-12{
    width: 100%;
}




/*fondo*/

#header-tramiton{
    /*height: 201px;*/
    padding: 0px;
    margin: auto;
    border-top: 0px;
    border-radius: 0px;
    background: transparent;

    max-width: 90%;
}


#df{
  background-size: cover;
  background-position: top;
  /*border-bottom: 4px solid #325972;*/
}
.no-margin-right{
    margin-right: 0px;
}
.nav-tramiton {
    /*margin-left: 10px !important;*/
}
.borde-derecha{
    border-right: 2px solid #707478;
}
.menu-dashboard{
    border-bottom: 4px solid #325972;
}
.menu-central-dashboard{
    margin-top: 27px;
    margin-bottom: 0px;
    padding: 0px 7px !important;
}
#input-buscar-experiencia{
    margin-top: 11px;
    margin-right: 13px;
    padding-right: 28px;
}
.menu-central{
    padding: 1px 3px;
}

@media (min-width: 768px) and (max-width: 802px){
    .menu-central{
        padding: 1px 3px !important;
    }
    #logo-home {
       width: 145px !important;
    }
}


#form-group-busqueda, #li-navbar-user{
    margin: 3px;
}


#logo-dashboard{
    width: 141px;
}




@media (min-width: 854px) and (max-width: 750){
    .menu-central{
        padding: 1px 5px;
    }
    #logo-home{
        width: 166px;
    }
}

@media (max-width: 767px){
    #navbar-toggle-home, #navbar-toggle-dashboard{
        display: inline-block;
    }
    .menu-central, .menu-central-dashboard{
        border: none;
    }
    #boton-busqueda{
        margin-top: -13px;
    }
}
@media (min-width: 768px){
    #navbar-toggle-home, #navbar-toggle-dashboard{
        display: none;
    }
}

#navbar-toggle-dashboard{
    margin: 0px;
    padding: 0px 10px;
}
